{{- if eq .Values.inference.framework "diffusers"}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Values.inference.serviceName}}
  namespace: {{.Values.inference.serviceNamespace}}
  labels:
    "app.kubernetes.io/component": "{{.Values.inference.serviceName}}"
spec:
  replicas: {{ .Values.inference.modelServer.deployment.replicas }}
  selector:
    matchLabels:
      "app.kubernetes.io/component": "{{.Values.inference.serviceName}}"
  template:
    metadata:
      labels:
        "app.kubernetes.io/component": "{{.Values.inference.serviceName}}"
    spec:
      containers:
        - name: worker
          image: "{{ .Values.inference.modelServer.image.repository }}:{{ .Values.inference.modelServer.image.tag }}"
          imagePullPolicy: {{ .Values.global.image.pullPolicy }}
          command: ["/bin/sh", "-c"]
          args: [
            "python3 -m uv pip install --no-cache-dir sentencepiece==0.2.0 diffusers==0.34.0 uvicorn==0.35.0 fastapi==0.116.1 && python3 /app/serve_script.py"
          ]
          env:
            - name: MODEL
              value: {{.Values.model}}
            - name: PIPELINE
              value: {{.Values.modelParameters.pipeline}}
            - name: HUGGING_FACE_HUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: hf-token
                  key: token
          ports:
            - containerPort: 8000
              name: http
          resources:
            {{- if eq .Values.inference.accelerator "gpu" }}
            {{- toYaml .Values.inference.modelServer.deployment.resources.gpu | nindent 12 }}
            {{- else }}
            {{- toYaml .Values.inference.modelServer.deployment.resources.neuron | nindent 12 }}
            {{- end }}
          volumeMounts:
            - mountPath: /app/serve_script.py
              subPath: serve_script.py
              name: serve-script
            - mountPath: /dev/shm
              name: dshm
      {{- if eq .Values.inference.accelerator "neuron" }}
      tolerations:
        - key: "aws.amazon.com/neuron"
          operator: "Exists"
          effect: "NoSchedule"
      {{- end }}
      {{- if .Values.inference.modelServer.deployment.instanceType }}
      nodeSelector:
        beta.kubernetes.io/instance-type: {{ .Values.inference.modelServer.deployment.instanceType }}
      {{- end }}
      {{- if and .Values.inference.modelServer.deployment.topologySpreadConstraints.enabled .Values.inference.modelServer.deployment.topologySpreadConstraints.constraints }}
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              "app.kubernetes.io/component": "{{$.Values.inference.serviceName}}"
      {{- end }}
      {{- if and .Values.inference.modelServer.deployment.podAffinity.enabled .Values.inference.modelServer.deployment.podAffinity.preferredDuringSchedulingIgnoredDuringExecution }}
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: topology.kubernetes.io/zone
              labelSelector:
                matchLabels:
                  "app.kubernetes.io/component": "{{$.Values.inference.serviceName}}"
      {{- end }}
      volumes:
        - configMap:
            items:
              - key: serve_script.py
                path: serve_script.py
            name: diffusers-serve
          name: serve-script
        - name: dshm
          emptyDir:
            medium: Memory
---
apiVersion: v1
kind: Service
metadata:
  name: {{.Values.inference.serviceName}}
  namespace: {{.Values.inference.serviceNamespace}}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    "app.kubernetes.io/component": "{{.Values.inference.serviceName}}"
{{- end }}
